:root {
  --gf-primary: #ebebeb;
  --gf-secondary: #aaa;
  --gf-background: #333;
  --gf-accent: #e1b4b6;
  --gf-accent-pale: #e1c4c6;

  color: var(--gf-primary);
  background-color: var(--gf-background);
  font-family: 'Josefin Sans', sans-serif;
}

a, a:visited {
  color: var(--gf-accent);
}

a:visited {
  color: var(--gf-accent-pale);
}

table {
  margin: 1em auto;
}

td {
  padding: 0 0.5em;
}

pre, code {
  font-family: 'Space Mono', monospace;
  font-size: smaller;
}

h1, h2, h3, h4, h5, h6,
::slotted(h1), ::slotted(h2), ::slotted(h3),
::slotted(h4), ::slotted(h5), ::slotted(h6)  {
  font-family: 'IM Fell Great Primer SC', serif;
  font-weight: 400;
}