:root {
  --gf-primary: #ebebeb;
  --gf-secondary: #aaa;
  --gf-background: #333;
  --gf-accent: #e1b4b6;
  --gf-accent-pale: #e1c4c6;

  color: var(--gf-primary);
  background-color: var(--gf-background);
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 1em auto;
}

a, a:visited {
  color: var(--gf-accent);
}

a:visited {
  color: var(--gf-accent-pale);
}

table {
  margin: 1em auto;
}

td {
  padding: 0 0.5em;
}

pre, code {
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em 0;
}

nav img {
  padding: 1em 0;
  width: 5em;
  height: 5em;
}

nav h1 {
  margin: 0 auto 0.1em auto;
}

.title {
  margin: auto 1em auto 0.5em;
}

.title span {
  margin-left: 1.5em;
}

.row {
  display: flex;
  flex-direction: row;
}

gf-header .links {
  margin-left: 2em;
}

li {
  margin-bottom: 0.5em;
}
